Source: fex-emu-@ARCH_SUFFIX@
Section: misc
Priority: optional
Maintainer: Ryan Houdek <houdek.ryan@fex-emu.com>
Uploaders: Ryan Houdek <houdek.ryan@fex-emu.com>
Standards-Version: 4.5.1
Build-Depends:
  debhelper-compat (= 12),
  cmake (>= 3.14),
  ninja-build,
  clang,
  lld,
  qt6-declarative-dev,
  python3,
  gzip,
  llvm,
  git,
  tree,
Build-Depends-Arch:
  g++-x86-64-linux-gnu,
  pkg-config,
  libclang-dev,
  llvm-dev,
  libasound2-dev,
  libssl-dev,
  libdrm-dev,
  libxcb-present-dev,
  libxcb-dri2-0-dev,
  libxcb-dri3-dev,
  libxcb-glx0-dev,
  libxcb-shm0-dev,
  libxrandr-dev,
  libxshmfence-dev,
  libwayland-dev,
  libegl-dev,
  clang-tools,
  libc6-dev-i386-cross,
@BUILD_DEPENDS_ARCH@
Homepage: https://fex-emu.com/
Vcs-Browser: https://github.com/FEX-Emu/FEX
Vcs-Git: https://github.com/FEX-Emu/FEX.git
Rules-Requires-Root: no

Package: fex-emu-@ARCH_SUFFIX@
Section: misc
Architecture: any
Depends:
 curl,
 squashfuse,
 fuse,
 squashfs-tools,
 zenity,
 libqt6quick6,
 libqt6widgets6t64,
 qml6-module-qtquick-controls,
 qml6-module-qtquick-layouts,
 qml6-module-qtquick-dialogs,
 qml6-module-qtquick-templates,
 qml6-module-qtquick-window,
 qml6-module-qtqml-workerscript,
 qml6-module-qt-labs-folderlistmodel,
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 erofs-utils (>= 1.5)
Conflicts: @ARCH_CONFLICTS@
Replaces: @ARCH_CONFLICTS@
Provides: fex-emu
Description: x86 and x86-64 Linux emulator
 FEX is very much work in progress, so expect things to change.

Package: libfex-emu-@ARCH_SUFFIX@-dev
Section: libs
Architecture: any
Depends:
 ${shlibs:Depends}, ${misc:Depends}
Conflicts: @LIBARCH_CONFLICTS@
Replaces: @LIBARCH_CONFLICTS@
Provides: libfex-emu-dev
Description: x86 and x86-64 Linux emulator
 FEX is very much work in progress, so expect things to change.
