#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

include /usr/share/dpkg/pkg-info.mk

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS="optimize=-lto hardening=-fortify,+pie,-stackprotectorstrong,-stackprotector"

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEB_HOST_ARCH      ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

confflags =
buildflags = \
	CXXFLAGS="-Wno-deprecated-enum-enum-conversion"

confflags += \
	-DCMAKE_INSTALL_PREFIX=/usr \
	-DCMAKE_C_COMPILER=@C_COMPILER@ \
	-DCMAKE_CXX_COMPILER=@CXX_COMPILER@ \
	-DCMAKE_BUILD_TYPE=Release \
	-DENABLE_LTO=True \
	-DENABLE_LLD=True \
	-DBUILD_TESTS=False \
	-DENABLE_ASSERTIONS=False \
	-DBUILD_THUNKS=@SUPPORTS_THUNKS@ \
	-DENABLE_CLANG_THUNKS=True \
	-DTUNE_CPU=@TUNE_CPU@ \
	-DTUNE_ARCH=@TUNE_ARCH@ \
	-DOVERRIDE_VERSION=@FEX_VERSION@ \
	-DENABLE_X86_HOST_DEBUG=True

override_dh_clean:
	rm -rf build
	dh_clean

#override_dh_auto_configure:
#	ls -l
#	mkdir build
#	cd build && $(buildflags) make $(confflags) -j$(nproc) ..
#
override_dh_auto_configure:
	$(buildflags) dh_auto_configure -- $(confflags)

#override_dh_auto_build:
#	cd build && ; tree .
#

# We will have installed with auto_install
#override_dh_install:
#	true

#override_dh_installdocs:
#	dh_installdocs

#override_dh_installchangelogs:
#	dh_installchangelogs

# If dwz is attempted to be used then it will complain about too few files for multifile optimization
# If also complains about unknown debugging sections in our cross-arch libraries
# Disable entirely since it doesn't support these things
override_dh_dwz:
	# Nothing here

# If dh_strip is enabled then it tries to strip ELF libraries of thunks which breaks
override_dh_strip:
	# Nothing here

# We need to ignore any shlib dependencies from the GuestThunks
override_dh_shlibdeps:
	dh_shlibdeps -XGuestThunks

%:
	dh $@ --builddirectory=build/ --buildsystem=cmake
